<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Web 2 </title>\
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
  <div class = "container" > 
    <h1> Tính Tổng 2 Số </h1>
  <form action="/sum" method ="POST">
    <div class="form-group">
      <label for="exampleInputEmail1"> Số thứ 1 </label>
      <input type="number" class="form-control" id="a" name ="a" >
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1"> Số thứ 2 </label>
      <input type="number" class="form-control" id="a" name ="b" >
    </div>
    <button type="submit" class="btn btn-primary"> Tính Tổng </button>
  </form>
  </div>
</body>
</html>